<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="apikey" value="13f441b40fdb830f1f661b50a634304d" />
  </appSettings>
  <connectionStrings>
    <add name="mpdevcontext"
         connectionString="Server=tcp:u0tjndtzqx.database.windows.net,1433;Database=MoviePicker;User ID=jeroen@u0tjndtzqx;Password=5s3wde%BLARK;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>